body {background-color: rgb(255, 255, 255);}
h1   {color: black;}

.logo{
    padding-left: 40px;
    padding-top: 2cm;
    text-align: center;
    justify-content: space-around;
}

.menu{
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu img{
    height: 60px;
}
.menu a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
}
.menu02 ul {
    display: flex;
    gap: 30px;
}