@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: auto;
  background: #272727;
  color: #29aa6e;
  font-family: "Sarala", sans-serif;
}

body {
  background: #272727;
}
h1,
h3 {
  color: #29aa6e;
  font-size: 2.5rem;
  text-align: center;
}
h3 {
  padding-top: 1cm;
  font-size: 2rem;
}
p {
  color: #29aa6e;
  font-size: 1.5rem;
  text-align: center;
}
.cellphones {
  padding-top: 1cm;
}
.cellphones img {
  border-radius: 22px;
}
#sec1 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
}

.menu {
    padding: 10px;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    text-transform: uppercase;
  }
  
  .menu img {
    height: 45px;
  }
  
  .menu a {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .menu a:hover {
    color: rgb(107, 211, 107);
  }
  
  .menu02 ul {
    display: flex;
    gap: 30px;
  }

.footer {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 20vw;
  justify-content: space-around;
  align-items: center;
}

.footer #logo {
  height: 7vh;
}
.footer #redes_sociais {
  display: flex;
  gap: 20px;
}
.footer #redes_sociais img {
  height: 30px;
  border-radius: 0px;
}
.footer-itens {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 40px;
}
.footer-itens img {
  height: 50px;
}
.footer p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
  text-align: left;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* Responsividade */
@media screen and (max-width: 768px){
  .text2{
    margin-top: 20px;
  }
  .text2 p {
    font-size: 1.25rem;
  }
  .menu img {
    height: 30px;
  }
  .menu a {
    font-size: 0.55rem;
  }
  .menu02 ul {
    gap: 15px;
  }

  .footer-itens {
    height: fit-content;
    gap:10px;
  }
  .footer p{
    font-size: 0.5rem;
  }
  .footer #redes_sociais img {
    height: 20px;
  }
  .footer-itens img {
    height: 30px;
  }
}
=======
=======
>>>>>>> 904592c2e859a81fb257ee73e5cc2a20158ee6f9

@media screen and (max-width: 700px) {

  .menu02 {
    font-size: 0.7rem;
    flex-wrap: wrap;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}

@media screen and (max-width: 400px) {
 
  .menu {
    flex-wrap: wrap;
  }

  .menu02 {
    margin-top: 15px;
    font-size: 0.6rem;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}
<<<<<<< HEAD
>>>>>>> da9b0dbb6a40aabdae83104c178d2778744dadf7
=======
>>>>>>> 904592c2e859a81fb257ee73e5cc2a20158ee6f9
