@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: auto;
  background: #272727;
  color: #29aa6e;
}

.menu {
  padding: 10px;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  text-transform: uppercase;
}

.menu img {
  height: 45px;
}

.menu a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: rgb(107, 211, 107);
}

.menu02 ul {
  display: flex;
  gap: 30px;
}

.conteudo {
  color: white;
  font-family: "Sarala", sans-serif;
}

.nosso-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5%;
  font-size: 1.5rem;
  line-height: 5rem;
}

.nosso-time h1 {
  font-size: 5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 150px;
}

.card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(1deg,
      /* rgb(255, 255, 255),
        rgba(255, 251, 0, 0.719), */
      rgb(255, 255, 255) 10%,
      rgba(241, 236, 236, 0.575) 90%);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  max-width: 300px;
}


.card h2 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 15px;
}

.card h3 {
  color: #000000;
  font-size: 1.2rem;
}

.card img {

  width: 200px;
  height: 250px;
  border-radius: 40px;

}

.footer {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 20vw;
  justify-content: space-around;
  align-items: center;
}

.footer #logo {
  height: 7vh;

}

.footer #redes_sociais {
  display: flex;
  gap: 20px;
}

.footer #redes_sociais img {
  height: 30px;
}

.footer-itens {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 40px;
}

.footer-itens img {
  height: 50px;
}

<<<<<<< HEAD
/* Responsividade */
@media screen and (max-width: 768px){
  .menu img {
    height: 30px;
  }
  .menu a {
    font-size: 0.55rem;
  }
  .menu02 ul {
    gap: 15px;
  }

  .footer-itens {
    height: fit-content;
    gap:10px;
  }
  .footer p{
    font-size: 0.5rem;
  }
  .footer #redes_sociais img {
    height: 20px;
  }
  .footer-itens img {
    height: 30px;
  }
}
=======
@media screen and (max-width: 700px) {

  .menu02 {
    font-size: 0.7rem;
    flex-wrap: wrap;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}

@media screen and (max-width: 400px) {
 
  .menu {
    flex-wrap: wrap;
  }

  .menu02 {
    margin-top: 15px;
    font-size: 0.6rem;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}
>>>>>>> da9b0dbb6a40aabdae83104c178d2778744dadf7
