@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: auto;
  background: #272727;
  color: #29aa6e;
  font-family: "Sarala", sans-serif;
}

.menu {
  padding: 20px;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  text-transform: uppercase;
}

.menu img {
  height: 45px;
}

.menu a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: rgb(107, 211, 107);
}

.menu02 ul {
  display: flex;
  gap: 30px;
}

h1 {
  text-align: center;
  padding: 25px;
}
.intro {
  text-align: center;
  font-size: 24px;
}
.problems {
  padding-top: 30px;
  font-size: 1.5rem;
}
.problems ul {
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.problems li{
  font-size: 1.25rem;
  padding:15px 0 15px 0;
}
.hardware {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hardware img {
  padding: 50px;
}

.text-app {
  text-align: center;
  padding-bottom: 55px;
  padding-top: 25px;
}

.text-app p{
  font-size: 1.25rem;
  margin: 10px;
}

.text-app p strong{
  font-size: 1.5rem;
}

/* Padrão */
.menu {
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  text-transform: uppercase;
}
.menu img {
  height: 45px;
}
.menu a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: rgb(107, 211, 107);
}
.menu02 ul {
  display: flex;
  gap: 30px;
}
.footer {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 20vw;
  justify-content: space-around;
  align-items: center;
}
.footer #logo {
  height: 7vh;
}
.footer #redes_sociais {
  display: flex;
  gap: 20px;
}
.footer #redes_sociais img {
  height: 30px;
}
.footer-itens {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 40px;
}

.footer-itens img{
  height:50px;
<<<<<<< HEAD
=======
}


@media screen and (max-width: 700px) {

  .menu02 {
    font-size: 0.7rem;
    flex-wrap: wrap;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}

@media screen and (max-width: 400px) {
 
  .menu {
    flex-wrap: wrap;
  }

  .menu02 {
    margin-top: 15px;
    font-size: 0.6rem;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

>>>>>>> 904592c2e859a81fb257ee73e5cc2a20158ee6f9
}


@media screen and (max-width: 700px) {

  .menu02 {
    font-size: 0.7rem;
    flex-wrap: wrap;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}

@media screen and (max-width: 400px) {
 
  .menu {
    flex-wrap: wrap;
  }

  .menu02 {
    margin-top: 15px;
    font-size: 0.6rem;
    gap: 1px;
  }

  .footer-itens {
    display: none;
  }

}

/* Responsividade */
@media screen and (max-width: 768px){
  h1 {
    font-size: 2.5rem;
  }
  .intro {
    text-align: center;
    font-size: 1.5rem;
  }

  .problems p {
    text-align: left;
    padding-top: 15px;
    font-size: 1.75rem;
  }

  .hardware img {
    width: 75vw;
    height: auto;
    padding: 0;
  }

  .menu img {
    height: 30px;
  }
  .menu a {
    font-size: 0.55rem;
  }
  .menu02 ul {
    gap: 15px;
  }

  .footer-itens {
    height: fit-content;
    gap:10px;
  }
  .footer p{
    font-size: 0.5rem;
  }
  .footer #redes_sociais img {
    height: 20px;
  }
  .footer-itens img {
    height: 30px;
  }
}