@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
  height: auto;
  background: linear-gradient(
      1deg,
      rgb(69, 159, 177) 40%,
      rgba(5, 127, 241, 0.801) 50%,
      rgb(107, 211, 107) 100%
  );
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cabecalho{
    font-size: 16px;
}
.menu{
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    text-transform: uppercase;
}

.menu img{
    height: 45px;
}

.menu a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: rgb(107, 211, 107);
}

.menu02 ul {
  display: flex;
  gap: 30px;
}

h1 {
  text-align: center;
  padding: 25px;
}
.intro {
  text-align: center;
  font-size: 24px;
}
.problems{
    padding-top: 30px;
}
.problems ul {
  padding-top: 20px;
  padding-left: 150px;
  padding-bottom: 20px;
}
.problems p{
    padding-top: 25px;
}
.hardware {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hardware figure {
    padding: 50px;
}
.cellphones {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-app {
  text-align: center;
  padding-bottom: 55px;
  padding-top: 25px;
}
.footer {
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 30vw;
    justify-content: space-around;
    align-items: center;
}

.footer img {
    height: 10vh;
}